/*Autores: Ana Luisa Saraiva Teixeira Eduardo dos Santos Costa 3ºD*/
/* Responsividade para celulares*/
@media (max-width: 479px) {
  html, body {
    overflow-x: hidden;
  }

  .section-one {
    overflow: hidden;
    height: 1000px;
    max-width: 1200px;
    padding: 0 4%;
  }
  .section-two img {
    margin-bottom: 25vh;
    width: 350px;
  }
  .section-two {
    overflow: hidden;
    height: auto;
    max-height: 1400px;
    width: auto;
    max-width: 479px;
  }
  .section-two .info__container {
    flex-direction: column;
  }
  .section-two .info__img {
    margin: 0px 0px 0px;
  }
  .section-three {
    overflow: hidden;
    height: auto;
    max-height: 1200px;
  }
  .section-three .card__container {
    gap: 30px;
    padding: 0 4%;
  }
  .section-three .modal__img {
    height: 50vh;
    width: 30vh;
  }
  .section-four .s4-container {
    width: 479px;
    border-radius: 0px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
  }
  .section-four {
    overflow: hidden;
    height: auto;
    max-height: 950px;
    padding: 0;
  }
  .section-four .download {
    width: 350px;
    max-width: 400px;
  }
  .section-four .baixe img {
    width: 350px;
    padding: 50px;
  }
}

/* Responsividade para tablets*/
@media (min-width: 480px) and (max-width: 1280px) {
  html, body {
    overflow-x: hidden;
  }
  
  .section-one {
    height: 100vh;
    max-height: 100vh;
    width: auto;
    max-width: 100%;
    padding: 0 4%;
    overflow: hidden;
  }
  .section-two img {
    margin-bottom: 25vh;
    width: 450px;
  }
  .section-two {
    height: 1450px;
    width: auto;
    max-width: 100%;
    overflow: hidden;
  }
  .section-two .info__container {
    flex-direction: column;
  }
  .section-two .info__img {
    margin: 0px 0px 0px;
  }
  .section-three {
    height: auto;
    max-height: 170%;
    width: auto;
    max-width: 100%;
    overflow: hidden;
  }
  .section-three .card__container {
    gap: 30px;
    padding: 0 4%;
  }
  .section-three .modal__img {
    height: 50vh;
    width: 30vh;
  }
  .section-four .s4-container {
    width: 600px;
    height: 500px;
  }
  .section-four {
    height: 660px;
    width: auto;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
  }
  .section-four .download {
    width: auto;
  }
  .section-four .baixe img {
    width: 50vh;
    padding: 0 4%;
  }
  .section-four .baixe {
    margin-top: 20px;
  }
  .section-four .requisitos {
    font-size: 18px;
  }
}
